1. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line.

In [24]:
list1= []
for i in range(2000, 3201):
    if i%7==0 and i%5 != 0:
        list1.append(str(i))
print(','.join(list1))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

2. Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:
8
Then, the output should be:
40320

In [28]:
def factorial(num):
    fact = 1
    for i in range(1,num+1):
        fact = fact*i
    return fact

In [30]:
factorial(8)

40320

3. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [34]:
def square_dict(num):
    dict1 = {}
    for i in range (1,num+1):
        dict1[i] = i*i
    return(dict1)

In [35]:
square_dict(8)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

4. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
Suppose the following input is supplied to the program:
34,67,55,33,12,98
Then, the output should be:
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

In [57]:
def numbers(*args):
    list1 =[]
    for arg in args:
        list1.append(str(arg))
#     print( list(args))
#     print(tuple(args))
    return tuple(list1)

In [58]:
numbers(1,2,3,4)

('1', '2', '3', '4')

5. Define a class which has at least two methods:
getString: to get a string from console input
printString: to print the string in upper case.
Also please include simple test function to test the class methods.

In [6]:
class get_print():
    def __init__(self):
        self.str1 = ""
    def getString(self):
        self.str1 = input()
    def printString(self):
        print(self.str1.upper())

In [11]:
str1 = get_print()
str1.getString()
str1.printString()

Aayush
AAYUSH

6. Write a program that calculates and prints the value according to the given formula:
Q = Square root of [(2 * C * D)/H]
Following are the fixed values of C and H:
C is 50. H is 30.
D is the variable whose values should be input to your program in a comma-separated sequence.
Example
Let us assume the following comma separated input sequence is given to the program:
100,150,180
The output of the program should be:
18,22,24

In [22]:
import math
def d_values(*args):
    list1 = []
    for arg in args:
        list1.append(int(math.sqrt(2*arg*50/30)))
    return list1

In [21]:
d_values(100,150,180)

'[18, 22, 24]'

7. Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.
Note: i=0,1.., X-1; j=0,1,¡­Y-1.
Example
Suppose the following inputs are given to the program:
3,5
Then, the output of the program should be:
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [1]:
def matrix(X,Y):
    list1 =[]
    list2=[]
    for i in range(X):
        for j in range(Y):
            list1.append(i*j)
        list1.seek(0)
        list2.append(list1)
            
        
        #list2.append(list1)
    return list2

8. Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.
Suppose the following input is supplied to the program:
without,hello,bag,world
Then, the output should be:
bag,hello,without,world

In [72]:
def comma_set_string(string):
    list1 = [x.strip(' ') for x in string.split(',')]
    return ','.join(sorted(list1))

In [74]:
comma_set_string('without, hello,bag,world')

'bag,hello,without,world'

9. Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized.
Suppose the following input is supplied to the program:
Hello world
Practice makes perfect
Then, the output should be:
HELLO WORLD
PRACTICE MAKES PERFECT

In [96]:
def all_upper():
    string = input('Enter the string:')
    return string.upper()

In [97]:
all_upper()

Enter the string:aayush

'AAYUSH '

10. Question:
Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.
Suppose the following input is supplied to the program:
hello world and practice makes perfect and hello world again
Then, the output should be:
again and hello makes perfect practice world

In [102]:
def sort_unique(string):
    return ' '.join(sorted(set(string.split(' '))))

In [103]:
sort_unique('hello world and practice makes perfect and hello world again')

'again and hello makes perfect practice world'

11. Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.
Example:
0100,0011,1010,1001
Then the output should be:
1010

In [6]:
def divisible_by_5(sequence):
    list2 = []
    list1 = sequence.split(',')
    for i in list1:
        if int(i,2)%5 ==0:
            list2.append(i)
    return list2

In [9]:
divisible_by_5('0100,0011,1010,1001,11001')

['1010', '11001']

12. Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number.
The numbers obtained should be printed in a comma-separated sequence on a single line.

In [49]:
def all_digit_even():
    list1 = []
    for i in range(1000, 3001):
        if int(str(i)[0])%2 == 0 and int(str(i)[1])%2 == 0 and int(str(i)[2])%2 == 0 and int(str(i)[3])%2 == 0:
            list1.append(str(i))
    return ', '.join(list1)

In [50]:
all_digit_even()

'2000, 2002, 2004, 2006, 2008, 2020, 2022, 2024, 2026, 2028, 2040, 2042, 2044, 2046, 2048, 2060, 2062, 2064, 2066, 2068, 2080, 2082, 2084, 2086, 2088, 2200, 2202, 2204, 2206, 2208, 2220, 2222, 2224, 2226, 2228, 2240, 2242, 2244, 2246, 2248, 2260, 2262, 2264, 2266, 2268, 2280, 2282, 2284, 2286, 2288, 2400, 2402, 2404, 2406, 2408, 2420, 2422, 2424, 2426, 2428, 2440, 2442, 2444, 2446, 2448, 2460, 2462, 2464, 2466, 2468, 2480, 2482, 2484, 2486, 2488, 2600, 2602, 2604, 2606, 2608, 2620, 2622, 2624, 2626, 2628, 2640, 2642, 2644, 2646, 2648, 2660, 2662, 2664, 2666, 2668, 2680, 2682, 2684, 2686, 2688, 2800, 2802, 2804, 2806, 2808, 2820, 2822, 2824, 2826, 2828, 2840, 2842, 2844, 2846, 2848, 2860, 2862, 2864, 2866, 2868, 2880, 2882, 2884, 2886, 2888'

13. Write a program that accepts a sentence and calculate the number of letters and digits.
Suppose the following input is supplied to the program:
hello world! 123 Then, the output should be:
LETTERS 10
DIGITS 3

In [66]:
def count_alphanumeric():
    string = input('Enter the string: ')
    letter = 0
    digit = 0
    for i in string:
        if i.isalpha():
            letter +=1
        elif i.isnumeric():
            digit +=1
    return 'In the input string has number of Letters = {} and Digit = {}'.format(letter,digit)

In [59]:
count_alphanumeric()

Enter the string: Aayush ! 145432 ???12

'In the input string number of Letters = 6 and Digit = 8'

14. Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters.
Suppose the following input is supplied to the program:
Hello world!
Then, the output should be:
UPPER CASE 1
LOWER CASE 9

In [67]:
def find_case(string):
    upper = 0
    lower = 0
    for i in string:
        if i.isupper():
            upper +=1
        elif i.islower():
            lower +=1
    return 'In the input string has number of Upper Case = {} and Lower Case = {}'.format(upper,lower)

In [65]:
find_case('Aayush Gehlot 123')

'In the input string number of Upper Case = 2 and Lower Case = 10'

15. Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a.
Suppose the following input is supplied to the program:
9
Then, the output should be:
11106

In [138]:
def sequence_sum(n : int):
    '''
    This function accept number between 1-9 as n and calculate resultant of n+nn+nnn+nnnn
    
    '''
    return int(f'{n}') + int(f'{n}'*2) +  int(f'{n}'*3) +  int(f'{n}'*4)

In [139]:
sequence_sum(9)

11106

16. Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers.
Suppose the following input is supplied to the program:
1,2,3,4,5,6,7,8,9
Then, the output should be:
1,3,5,7,9

In [140]:
list1  = [1,2,3,4,5,6,7,8,9]
[n**2 for n in list1 if n%2 != 0]

[1, 9, 25, 49, 81]

17. Write a program that computes the net amount of a bank account based a transaction log from console input. The transaction log format is shown as following:
D 100
W 200

D means deposit while W means withdrawal.
Suppose the following input is supplied to the program:
D 300
D 300
W 200
D 100
Then, the output should be:
500

In [2]:
string = input('Combination of transactions: ') # input transaction combination

# this will convert input into a tuple
list1= string.split(' ')
D_W = []
amount = []
net_amount = 0
for i in list1:
    if i.isalpha():
        D_W.append(i)
    else:
        amount.append(i) 
transaction = zip(D_W,amount)

#iterating over tuple

for k,v in transaction:
    if k == 'D':
        net_amount += int(v)
    elif k == 'W':
        net_amount -= int(v)
    else:
        pass
print( net_amount)

Combination of transactions: D 300 D 300 W 200 D 100
500

18. A website requires the users to input username and password to register. Write a program to check the validity of password input by users.
Following are the criteria for checking the password:
    
    1. At least 1 letter between [a-z]
    2. At least 1 number between [0-9]
    3. At least 1 letter between [A-Z]
    4. At least 1 character from [$#@]
    5. Minimum length of transaction password: 6
    6. Maximum length of transaction password: 12

Your program should accept a sequence of comma separated passwords and will check them according to the above criteria. Passwords that match the criteria are to be printed, each separated by a comma.
Example
If the following passwords are given as input to the program:
ABd1234@1,a F1#,2w3E*,2We3345
Then, the output of the program should be:
ABd1234@1

In [32]:
import re
ideal_password = re.compile(r"^(?=.*[\d])(?=.*[A-Z])(?=.*[a-z])(?=.*[@#$])[\w\d@#$]{6,12}$")
list2 = []
list1 = input('Enter the list of password: ')
password = list1.split(',')
for i in password:
    if re.match(ideal_password, i):
        list2.append(i)
print('List of password matching the criteria: {}'.format(', '.join(list2)))

Enter the list of password: ABd1234@1,a F1#,2w3E*,2We3345,ABd1234@2
List of password matching the criteria: ABd1234@1,ABd1234@2

19. You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is:

    1: Sort based on name;
    
    2: Then sort based on age;
    
    3: Then sort by score.
    
    The priority is that name > age > score.
    If the following tuples are given as input to the program:
    Tom,19,80
    
    John,20,90
    
    Jony,17,91
    
    Jony,17,93
    
    Json,21,85
    
Then, the output of the program should be:
[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

In [7]:
# Input here is in order name,age,height (n0,a0,h0 n1,a1,h1...)
string = input('Enter the name, age and height in order : ')
string_tuple = tuple(string.split())
print(string_tuple)
sorted_by_second = list(sorted(string_tuple, key=lambda tup: (tup[0],tup[1], tup[2])))
print(sorted_by_second)

Enter the name, age and height in order : Tom,19,80  John,20,90  Jony,17,91  Jony,17,93  Json,21,85
('Tom,19,80', 'John,20,90', 'Jony,17,91', 'Jony,17,93', 'Json,21,85')
['John,20,90', 'Jony,17,91', 'Jony,17,93', 'Json,21,85', 'Tom,19,80']

20. Define a class with a generator which can iterate the numbers, which are divisible by 7, between a given range 0 and n.

In [33]:
class divible_by_7:
    def by_7(n):
        for i in range(n + 1):
            if i%7 == 0:
                yield i

In [34]:
for i in divible_by_7.by_7(21):
    print(i)

0
7
14
21

21. A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps. The trace of robot movement is shown as the following:
    UP 5
    DOWN 3
    LEFT 3
    RIGHT 2
        Example:
        The numbers after the direction are steps. Please write a program to compute the distance from current position after a sequence of movement and original point. If the distance is a float, then just print the nearest integer.
        Example:
        If the following tuples are given as input to the program:
        UP 5
        DOWN 3
        LEFT 3
        RIGHT 2
        Then, the output of the program should be:
        2

In [45]:
print('''Distance from origin \nIn this game user will enter commands and finally the game will calulate the distance from origin''')
#y = input('Which directon you want to go: up(1),down(2),left(3),right() ')
x = 0
y= 0
for k,v in [('UP', 5), ('DOWN', 3),('LEFT', 3),('RIGHT', 2)]:
    if k == 'UP':
        y += v
        x = x
    elif  k == 'DOWN':
        y -= v
        x = x
    elif  k == 'LEFT':
        x += v
        y = y
    elif  k == 'RIGHT':
        x -= v
        y = y
print(x,y)

Distance from origin
In this game user will enter commands and finally the game will calulate the distance from origin
1 2

22. Write a program to compute the frequency of the words from the input. The output should output after sorting the key alphanumerically. 
    Suppose the following input is supplied to the program:
        New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3.
        Then, the output should be:
        2:2
        3.:1
        3?:1
        New:1
        Python:5
        Read:1
        and:1
        between:1
        choosing:1
        or:2
        to:1

In [76]:
def word_counter(string):
    work_list = string.split()
    dict1 = {}
    wordfreq = [work_list.count(p) for p in work_list]
    return dict(list(zip(work_list,wordfreq)))

In [77]:
word_counter('New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3')

{'New': 1,
 'to': 1,
 'Python': 5,
 'or': 2,
 'choosing': 1,
 'between': 1,
 '2': 2,
 'and': 1,
 '3?': 1,
 'Read': 1,
 '3': 1}

In [78]:
def word_counter(string):
    dict1 = {}
    word_list = string.split()
    for i in word_list:
        dict1[i] = word_list.count(i)
    return dict1

In [79]:
word_counter('New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3')

{'New': 1,
 'to': 1,
 'Python': 5,
 'or': 2,
 'choosing': 1,
 'between': 1,
 '2': 2,
 'and': 1,
 '3?': 1,
 'Read': 1,
 '3': 1}

23. Write a method which can calculate square value of number

In [38]:
def square(n):
    try:
        return 'Square of {0} is {1:.2f}'.format(n, n**2)
    except:
        return 'You have not entered a number'

In [40]:
square(9)

'Square of 9 is 81.00'

24. Python has many built-in functions, and if you do not know how to use it, you can read document online or find some books. But Python has a built-in document function for every built-in functions.
    Please write a program to print some Python built-in functions documents, such as abs(), int(), raw_input()
    And add document for your own function

In [42]:
def square1(num):
    '''Return the square value of the input number.
    
    The input number must be integer.
    '''
    return num ** 2

25.  Define a class, which have a class parameter and have a same instance parameter.

In [1]:
class Person:
    # Define the class parameter "name"
    name = "Person"
    
    def __init__(self, name = None):
        # self.name is the instance parameter
        self.name = name

In [5]:
jeffrey = Person("Jeffrey")
print ("{} name is {}".format(Person.name, jeffrey.name))

nico = Person()
nico.name = "Nico"
print ("{} name is {}".format(Person.name, nico.name))

Person name is Jeffrey
Person name is Nico

26. Define a function which can compute the sum of two numbers.

In [6]:
def sum_two_numbers(n1, n2):
    try:
        return n1 + n2
    except:
        return 'One or both numbers are not integers'

In [11]:
sum_two_numbers(9,'a')

'One or both numbers are not integers'

27. Define a function that can convert a integer into a string and print it in console.

In [21]:
def to_string(n):
    return str(n)

In [22]:
to_string(9)

'9'

28. Define a function that can receive two integral numbers in string form and compute their sum and then print it in console.

In [23]:
def sum_from_string(s1,s2):
    return int(s1) + int(s2)

In [24]:
sum_from_string('9','2')

11

29. Define a function that can accept two strings as input and concatenate them and then print it in console.

In [27]:
def concat_strings(*argv):
    string = ''
    for arg in argv:
        string += arg
    return string

In [29]:
concat_strings('args', 'argument', 'ajkja')

'argsargumentajkja'

30. Define a function that can accept two strings as input and print the string with maximum length in console. If two strings have the same length, then the function should print al l strings line by line.

In [34]:
def long_string(s1,s2):
    """
     function that can accept two strings as input and print the string with maximum length in console. 
     If two strings have the same length, then the function should print al l strings line by line
    """
    if len(s1)>len(s2):
        return s1
    elif len(s1)<len(s2):
        return s2
    else:
        return s1 + ' ' + s2

In [35]:
long_string('Aayush','Gehlot1')

'Gehlot1'

31. Define a function that can accept an integer number as input and print the "It is an even number" if the number is even, otherwise print "It is an odd number".

In [42]:
def identify_even(n):
    if n%2 ==0:
        return '{} is an even number'.format(n)
    else:
        return '{} is an odd number'.format(n)

In [43]:
identify_even(0)

'0 is an even number'

32. Define a function which can print a dictionary where the keys are numbers between 1 and 3 (both included) and the values are square of keys.

In [46]:
def number_and_square(n):
    dict1 = {x:x**2 for x in range(1,n+1)}
    return  dict1

In [47]:
number_and_square(5)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

33. Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the values only.

In [51]:
def square_values(n):
    dict1 = {x:x**2 for x in range(1,n+1)}
    for k,v in dict1.items():
        print(v)

In [52]:
square_values(3)

1
4
9

34. Write a program which can filter even numbers in a list by using filter function. The list is: [1,2,3,4,5,6,7,8,9,10].

In [4]:
list1 =  [1,2,3,4,5,6,7,8,9,10,11,12]
def even(number):
    if number%2 == 0:
        return True
    else:
        return False
even_number = filter(even, list1)
for k in even_number:
    print(k)

2
4
6
8
10
12

35. Write a program which can map() to make a list whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10].

In [6]:
def square(number):
    return number**2
list1 = [1,2,3,4,5,6,7,8,9,10]
square_map_result = map(square, list1)
for k in square_map_result:
    print(k)

1
4
9
16
25
36
49
64
81
100

You might have noticed that I am creating function first and then passing it to map argument. Using lambda we can generate the sme functionality in an easy way.

In [9]:
list1 = [1,2,3,4,5,6,7,8,9,10]
square_map_result = map(lambda x:x**2, list1)
for k in square_map_result:
    print(k)

1
4
9
16
25
36
49
64
81
100

map

36. Write a program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].

In [18]:
list1 = [1,2,3,4,5,6,7,8,9,10]
even = filter(lambda x: x%2 == 0, list1)
square_even = map(lambda x:x**2 , [p for p in even])
for i in square_even:
    print(i)

4
16
36
64
100

37. Define a class named American which has a static method called printNationality

In [20]:
class American(object):
    @staticmethod
    def printNationality():
        print("America")

anAmerican = American()
anAmerican.printNationality()
American.printNationality()

America
America

38. Define a class named American and its subclass NewYorker.

In [24]:
class American(object):
    print('America')

class NewYorker(American):
    print('NewYork')

anAmerican = American()
aNewYorker = NewYorker()
print(anAmerican)
print (aNewYorker)

America
NewYork
<__main__.American object at 0x00000259A0B9ABE0>
<__main__.NewYorker object at 0x00000259A0C7A828>

39. Define a class named Circle which can be constructed by a radius. The Circle class has a method which can compute the area.

In [42]:
class Circle:
    def __init__(self, radius):
        self.radius = radius
    def area(self):
        return 3.14*self.radius**2

In [43]:
acircle = Circle(2)
print(acircle.area())

12.56

40. Define a class named Rectangle which can be constructed by a length and width. The Rectangle class has a method which can compute the area.

In [46]:
class Rectangle:
    def __init__(self, length, width):
        self.length = length
        self.width = width
    def area(self):
        return self.length * self.width

In [48]:
rect = Rectangle(2,3)
rect.area()

6

41. Define a class named Shape and its subclass Square. The Square class has an init function which takes a length as argument. Both classes have a area function which can print the area of the shape where Shape's area is 0 by default.

In [54]:
class Shape:
    def __init__(self):
        pass
    def area(self):
        return 0
class Square(Shape):
    def __init__(self, length):
        Shape.__init__(self)
        self.length = length
    def area(self):
        return self.length**2

In [56]:
s = Square(3)
s.area()

9

42. Please raise a RuntimeError exception.

In [57]:
raise RuntimeError('something wrong')

RuntimeError: something wrong

43. Write a function to compute 5/0 and use try/except to catch the exceptions.

In [68]:
def div_zero():
    try:
        return 5/0
    except ZeroDivisionError:
        return 'You are dividing a numer by 0'
    finally:
        print( 'Closing program')

In [69]:
div_zero()

Closing program

'You are dividing a numer by 0'

44. Define a custom exception class which takes a string message as attribute.

In [70]:
class MyError(Exception):
    """My own exception class

    Attributes:
        msg  -- explanation of the error
    """

    def __init__(self, msg):
        self.msg = msg

error = MyError("something wrong")

In [71]:
error

__main__.MyError('something wrong')

45. Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the user name of a given email address. Both user names and company names are composed of letters only.

In [73]:
"username@companyname.com".partition('@')[0]

'username'

46. Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only.

In [102]:
import re
s = "username@companyname.com"
domain = re.match("(\w+)@(\w+)\.(com)", s)
print(domain.group(2))

companyname

47. 
Write a program which accepts a sequence of words separated by whitespace as input to print the words composed of digits only.

In [104]:
string = 'hello 42 I\'m a 32 string 30'
re.findall(r'\d+', string)

['42', '32', '30']

48. Write a program to compute 1/2+2/3+3/4+...+n/n+1 with a given n input by console (n>0).

In [113]:
number = int(input('Enter the number: '))
sum_number = 0
for i in range(1, number+1):
    sum_number += i/(i+1)
print(round(sum_number,2))

Enter the number: 5
3.55

49. 
f(n)=f(n-1)+100 when n>0
and f(0)=1 with a given n input by console (n>0).

In [122]:

def f(n):
    if n == 0:
        return 1
    else:
        return f(n-1)+100
        
n = int(input('Enter the number'))
f(n)

Enter the number4

401

50. The Fibonacci Sequence is computed based on the following formula:

    f(n)=0 if n=0
    f(n)=1 if n=1
    f(n)=f(n-1)+f(n-2) if n>1
    
    Please write a program to compute the value of f(n) with a given n input by console.

In [124]:
#using generator 
def genfibon(n):
    """
    Generate a fibonnaci sequence up to n
    """
    a = 1
    b = 1
    for i in range(n):
        yield a
        a,b = b,a+b

In [128]:
for i in genfibon(6):
    print(i)

1
1
2
3
5
8

In [140]:
def f(n):
    if n == 0: return 0
    elif n == 1: return 1
    else: return f(n-1)+f(n-2)

n=int(input())
values = [str(f(x)) for x in range(0, n+1)]
print( ",".join(values))

8
0,1,1,2,3,5,8,13,21

51. Please write a program using generator to print the even numbers between 0 and n in comma separated form while n is input by console.

In [149]:
def even(n):
    for i in range(0,n+1):
        if i%2 == 0:
            yield i

In [150]:
for j in even(8):
    print(j)

0
2
4
6
8

52. Please write a program using generator to print the numbers which can be divisible by 5 and 7 between 0 and n in comma separated form while n is input by console.

In [151]:
def divisible_by_5_7(n):
    for i in range(0,n+1):
        if i%5 == 0 and i%7 == 0:
            yield i

In [153]:
list1 = [i for i in divisible_by_5_7(100)]
list1

[0, 35, 70]

53. Please write assert statements to verify that every number in the list [2,4,6,8] is even.

In [179]:
try: 
    li = [2,4,6,8,9]
    for i in li:
        assert i%2==0
except:
    print('You have odd number in the list')

You have odd number in the list

54. Please write a program which accepts basic mathematic expression from console and print the evaluation result.

In [182]:
expression = input('Enter the expression: ')
solution = eval(expression) 
print(solution)

Enter the expression: 2**3
8

55. Please write a binary search function which searches an item in a sorted list. The function should return the index of element to be searched in the list.

In [ ]:
def binary_search(list1):

In [185]:
a = [1,2,3,4,5]
p = 2
if p<a[int(len(a)/2)]:
    if

True 2